// This mixin creates the media queries allowing for the design to be responsive on smaller screens
@mixin respond($breakpoint) {
  @if $breakpoint == medium {
    @media (max-width: 1000px) {
      @content;
    }
  }
  @if $breakpoint == small {
    @media (max-width: 700px) {
      @content;
    }
  }
}

#container {
  padding: 20px;
}

.container_row {
  display: flex;
  justify-content: center;
  flex-direction: row;

  @include respond(small) {
    flex-direction: column;
    align-items: center;
  }
}

.card {
  height: 250px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  transform: skewX(-15deg);
  width: 400px;

  @include respond(medium) {
    width: 40%;
  }

  @include respond(small) {
    width: 80%;
  }

  img {
    left: -30px;
    position: absolute;
    transform: skewX(15deg);
    width: 500px;
  }

  h1 {
    font-family: 'Neucha', cursive;
    font-weight: 400;
    letter-spacing: 2px;
    width: 40%;
    margin: 10px;
    padding: 10px;
    padding-left: 35px;
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    -webkit-clip-path: polygon(15% 5%, 100% 0, 100% 80%, 0% 100%);
    clip-path: polygon(15% 5%, 100% 0, 100% 80%, 0% 100%);
    transform: skewX(15deg);
  }

  p {
    transform: skewX(15deg);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    padding-left: 35px;
    font-family: 'Roboto', sans-serif;
    width: 70%;
    font-weight: 400;
    clip-path: polygon(5% 5%, 97% 0, 100% 100%, 0% 80%);
  }

  div {
    transform: skewX(15deg);
    position: absolute;
    right: -17px;
    bottom: -7px;
    padding: 20px 10px;

    a {
      transform: skewX(15deg);
      background: rgba(255, 255, 255, 0.8);
      padding: 15px 5px;
      padding-right: 15px;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #6d6d6d;
    }
  }
}

footer {
  margin-top: 10px;
  text-align: center;
  color: grey;
  font-size: 14px;

  a:link,
  a:visited {
    color: #6d6d6d;
  }

  a:hover {
    color: #2e2e2e;
  }
}
